version: '3.9'

services:
  python_app:
    build: .
    volumes:
      - ./mount:/msllm/codes/mount  # A helyi config könyvtár csatolása a konténerhez
    ports:
      - "20249:20249"
    restart: always  # Automatikus újraindítás, ha a konténer leáll